<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Raspberry Jam</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <link rel="icon" type="image/png" href="static/img/jam.png" />
  <style type="text/css">
    #body-container {
      position: relative;
    }
    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
    .y.axis .tick line,
    line.minor {
      stroke: lightgray;
    }
    .line {
      fill: none;
      stroke: steelblue;
      stroke-width: 1.5px;
    }
    .hover-line line {
      stroke: gray;
      shape-rendering: crispEdges;
    }
    .navbar-brand {
      background: url(static/img/jam.png) no-repeat;
      background-size: 32px 32px;
      background-position: 4px 8px;
      padding-left: 44px;
    }
    #current-temp {
      margin-top: -43px;
    }
    #hover-temp {
      right: 20px;
      position: absolute;
    }
  </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
 </head>
 <body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Raspberry Jam</a>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#">Temperature</a></li>
      </ul>
    </div>
    </div>
  </nav>
  <div class="container" id="body-container">
    <h2>Temperature</h2>
    <h2 id="current-temp" class="text-right"></h2>
    <span id="hover-temp" class="text-right"></span>
    <svg id="tempgraph"></svg>
  </div>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script>
    (function() {
      var inputTimeFormat = d3.time.format.utc('%Y-%m-%d %H:%M:%S');
          outputTimeFormat = d3.time.format('%A, %b %d %Y %I:%M %p');
      
      var temps;

      var graphSelector = '#tempgraph',
          $currentTemp = $('#current-temp'),
          $hoverTemp = $('#hover-temp'),
          $graph = $(graphSelector);

      var margin = {top: 40, right: 10, bottom: 20, left: 20},
          width = $graph.width() - margin.left - margin.right,
          height = 500 - margin.top - margin.bottom,
          graphXOffset,
          graphYOffset;
      
      var x = d3.time.scale().range([0, width]),      
          y = d3.scale.linear().range([height, 0]);

      var line = d3.svg.line()
          .x(function(d) { return x(d[0]); })
          .y(function(d) { return y(d[1]); });

      var xAxis = d3.svg.axis()
          .scale(x)
          .orient('bottom')
          .ticks(d3.time.day, 1)
          .tickFormat(d3.time.format('%m/%d'))
          .tickSize(-height, -height, -height);

      var yAxis = d3.svg.axis()
          .scale(y)
          .orient('left')
          .tickSize(-width, 0, -width);

      var svg = d3.select(graphSelector)
          .attr('width', width + margin.left + margin.right)
          .attr('height', height + margin.top + margin.bottom)
        .append('g')
          .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');
      
      svg.append('g')
          .attr('class', 'y axis');
          
      svg.append('path')
          .attr('class', 'line');

      var xAxisG = svg.append('g')
          .attr('class', 'x axis')
          .attr('transform', 'translate(0,' + height + ')');

      var hoverLineGroup = svg.append('g')
          .attr('class', 'hover-line');
      
      var hoverLineX = hoverLineGroup.append('line')
          .attr('x1', 0).attr('x2', 0)
          .attr('y1', 0).attr('y2', height)
          .classed('hide', true);

      var hoverLineY = hoverLineGroup.append('line')
          .attr('x1', 0).attr('x2', width)
          .attr('y1', 0).attr('y2', 0)
          .classed('hide', true);
				
      d3.text('temps.csv', function(data) {
        updateGraph(data);
        graphXOffset = margin.left + $graph.offset().left;
        graphYOffset = margin.top + $graph.offset().top;
          
        $graph.mousemove(function(e) {
          handleMouseOverGraph(e);
        });
        
        $graph.mouseout(function(e) {
          handleMouseOutGraph(e);
        });
        
        setInterval(refreshData, 60000);
      });
      
      function formatRow(row) {
        row[0] = inputTimeFormat.parse(row[0]);
        row[1] = +row[1] * 9 / 5 + 32;
      }

      function refreshData() {
        d3.text('temps.csv', function(data) {
          updateGraph(data);
        });
      }

      function updateGraph(data) {
        temps = d3.csv.parseRows(data);
        temps.forEach(formatRow);
        
        setCurrentTemp();
        
        x.domain([temps[0][0], temps[temps.length-1][0]]);
        y.domain(d3.extent(temps, function(d) { return d[1]; }));

        xAxisG
          .selectAll('.minor')
          .remove();

        xAxisG
          .call(xAxis)
          .selectAll('line')
            .data(x.ticks(16), function(d) { return d; })
            .enter()
            .append('line')
            .attr('class', 'minor')
            .attr('y1', 0)
            .attr('y2', -height)
            .attr('x1', x)
            .attr('x2', x);

        svg.select('.line')
            .datum(temps)
            .attr('d', line);
            
        svg.select('.x.axis')
            .call(xAxis);
            
        svg.select('.y.axis')
            .call(yAxis);
      }

      function setCurrentTemp() {
        $currentTemp.text(temps[temps.length-1][1].toFixed(2) + '° F');
      }
        
      function handleMouseOverGraph(e) {
        var mouseX = event.pageX-graphXOffset,
            mouseY = event.pageY-graphYOffset;
        
        if (mouseX >= 0 && mouseX <= width && mouseY >= 0 && mouseY <= height) {
          hoverLineX
            .attr('x1', mouseX)
            .attr('x2', mouseX)
            .classed('hide', false);
          
          var xValue = x.invert(mouseX),
              index = (xValue.getTime() - temps[0][0].getTime()) / 60000,
              yPos;

          if (index >= temps.length) {
            index = temps.length - 1;
          } else {
            index = Math.round(index);
          }
          
          yPos = y(temps[index][1]);
          hoverLineY
            .attr('y1', yPos)
            .attr('y2', yPos)
            .classed('hide', false);
            
          $hoverTemp.text(outputTimeFormat(temps[index][0]) + ': ' + temps[index][1].toFixed(2) + '° F');       
        } else {
          handleMouseOutGraph(e);
        }
      }
      
      function handleMouseOutGraph(e) {
        hoverLineX.classed('hide', true);
        hoverLineY.classed('hide', true);
        $hoverTemp.text('');
      }
    })();
  </script>
 </body>
</html>